@page "/analytics"
@attribute [Authorize]
@using Microsoft.AspNetCore.Components

<PageTitle>Analytics</PageTitle>

<div class="containerAnalytics">
  <iframe title="Report Section" width="1600" height="900" src="https://app.powerbi.com/view?r=eyJrIjoiMjMyY2NhNWItMzQxOC00ZjdmLTgwYTctZGI4MmUxNWRhYTNlIiwidCI6IjBkMDE4ODJjLWQ4NjEtNGJkOC1iOGI1LWZmMjRmODM4OWJhYSJ9&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
</div>

<style>
.containerAnalytics {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 0%;
}

.iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  border: none;
}
</style>
