@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using SEAPIRATE.Shared
@inherits LayoutComponentBase

<PageTitle>SEAPIRATE - Seamlessly Executing Analytics for Pirate Interceptions, Raids, Attacks and Target Earmarking</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <AuthorizeView>
                <Authorized>
                    <span class="text-white">Welcome, @context.User.Identity?.Name!</span>
                    <a href="/Account/Logout" class="ml-md-auto text-white">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/Account/Register" class="text-white">Register</a>
                    <a href="/Account/Login" class="text-white">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>