@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using SEAPIRATE.Shared
@inherits LayoutComponentBase

<PageTitle>SEAPIRATE - Seamlessly Executing Analytics for Pirate Interceptions, Raids, Attacks and Target Earmarking</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank" rel="noreferrer">About</a>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
